@model Shoper.Models.ShoppingList

@{
    ViewData["Title"] = "Produkty listy";
}

<h1>Produkty listy "@Model.Name"</h1>
<br/>
<p>
    <a class="btn btn-secondary btn-sm" asp-action="Create" asp-route-id="@Model.Id">Dodaj nowy</a>
</p>
<table class="table table-striped" class="table">
    <thead>
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Ilość
        </th>
        <th>
            Cena
        </th>
        <th>
            Kupiono
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) szt.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) zł
            </td>
            <td>
                <form asp-controller="Products" asp-action="ToggleStatus" asp-route-id="@item.Id" asp-route-context="shopping-list">
                    <button class="btn @Html.Raw(item.IsPurchased ? "btn-danger" : "btn-success")">
                        @if (item.IsPurchased)
                        {
                            <i class="bi bi-x-lg"></i>
                        }
                        else
                        {
                            <i class="bi bi-check-lg"></i>
                        }
                    </button>
                </form>
            </td>
            <td>
                <a class="btn btn-secondary btn-sm" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                <a class="btn btn-secondary btn-sm" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                <a class="btn btn-secondary btn-sm" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
    }
    </tbody>
</table>